# AWS Credentials for Terraform (if needed)
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# AWS Region for Bedrock
AWS_REGION=us-east-1

# Bedrock Model ID
BEDROCK_MODEL_ID=meta.llama3-3-70b-instruct-v1:0

HENRY_FILE_PATH=/path/to/henry/harness_files
